/*** la base est fourni par Boilerplate system : https://gitlab.com/asacolips-projects/foundry-mods/boilerplate/-/tree/master
 * obtention de la police de caractère roboto
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}


/*******************************
 * mettre en surbrillance en rouge les liens de type rollable 
 */
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/*******************************
 * Les grilles de 2 à 12 colonnes
 */
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4px;
  margin: 4px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

/****************************************************************
 * css a retrouver l'utiliter
 */
.items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* *********************************
 * gestion des onglet des feuilles
 */

.npqv2 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.npqv2 .editor,
.npqv2 .biography,
.npqv2 .sheet-body,
.npqv2 .sheet-body .tab,
.npqv2 .sheet-body .tab .editor {
  height: 93%;
}

/********************************
 * bouton dans le chat pour avoir un joli petit rendu
 */
.chat-message .btn {
  cursor: pointer;
  margin: 0 0 5px 2px;
  padding: 3px;
  min-width: 25px;
  height: 28px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
.chat-message .btn:hover {
  color: #464331c4;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  border: 1px outset #736953a6;
}
.chat-message .btn:active {
  border: 1px inset #736953a6;
  background: rgba(0, 0, 0, 0.3);
  color: #464331c4;
}
/****************************************************************
 * gestion des alignement du centre
 */
.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
/****************************************************************
 * mes CSS à moi
 */
.sheet-flex-form {
  flex: 0;
}

.flexcolzol {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:  flex-start;
}

.sheet-header-zol {
    display: flex;
    flex-direction: row;
/*    flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: normal;
 } 

 .tableau-hearder {
    border : 0

 }

 .mini-input {
   size : "2em"; /* a verifier mais normalement pas pris en compte */
   width : auto;
 }

 .normal-input {
  width : auto ! important;
 }

 .normal-left-input {
  text-align: right;
  width : auto ! important;
 }

 .taille-M4 {
  width: 25%;
 }

 .reduitTaille{
  font-size: -1;
 }

 .txtUtiEnCours{
  color: red;
  font-weight: bold;
}

.txtUtiNon {
  font-weight: lighter;
  color: gray;
}

.txtUtiOui {
  font-weight: bold;
  color: black;
}

.grdPolice {
  font-size: x-large;
}

.plusPolice {
  font-size: large;
}

.lilipute {
  font-size: x-small;
}

.txtcenter {
  text-align: center;
}