<table>
  <tr>
    <th width="5%"></th>
    <th width="60%">Nom et description</th>
    <th width="5%">Niv.</th>
    <th width="25%">Nom Niv Max</th>
    <th width="5%">Act.</th>
  </tr>
  {{#each secrets as |secret id|}}
  <tr class="item" data-item-id="{{secret._id}}">
    <td class="align-center">
      <img src="{{secret.img}}" title="{{secret.name}}" width="24" height="24"/>
    </td>
    <td class="align-left">
      {{secret.name}} ({{secret.data.nomGene}})
    </td>
    <td class="align-center">
      {{secret.data.niveau}}
    </td>
    <td class="align-center"> 
      {{secret.data.nomMax}}
    </td>
    <td>
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </td>
  </tr>
  {{/each}}
</table>