<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <table width="100%" border="0">
      <tbody>
        <tr>
          <td>
            <aside class="sidebar">
              <div class="resource flex-group-center">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
              </div>  
            </aside>
          </td>
          <td>
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <h2 class="charname"><input name="data.ethnie" type="text" value="{{data.ethnie}}" placeholder="ethnie"/></h2>
           </td>
        </tr>
        <tr>
           <td colspan="2">
            <div class="resources grid grid-4col">
              <div class="resource flex-group-center">
                <label for="data.PdV.value" class="resource-label">Points de Vie</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.PdV.value" value="{{data.PdV.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.PdVTot" value="{{data.PdVTot}}" disabled=true data-dtype="Number"/>
                  (<input type="text" name="data.PdV.max" value="{{data.PdV.max}}" data-dtype="Number"/>)
                </div>
              </div>
      
              <div class="resource flex-group-center">
                <label for="data.PdM.value" class="resource-label">Pts de Magie</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.PdM.value" value="{{data.PdM.value}}" data-dtype="Number"/>
                  <span> / </span>
                  <input type="text" name="data.PdMTot" value="{{data.PdMTot}}" disabled=true data-dtype="Number"/>
                  (<input type="text" name="data.PdM.max" value="{{data.PdM.max}}" data-dtype="Number"/>)
                </div>
              </div>
      
              <div class="resource flex-group-center">
                <label for="data.Heroisme" class="resource-label">Pts de Héro</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.Heroisme" value="{{data.Heroisme}}" data-dtype="Number"/>
                </div>
              </div>
      
             <div class="resource flex-group-center">
                <label for="data.XP" class="resource-label">XP</label>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.XP" value="{{data.XP}}" data-dtype="Number"/>
                </div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
</form>