<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-flex-form" >
      <table style="width: 100%" border="1">
          <tbody>
            <tr>
              <td rowspan="2">
                  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="120"/>
              </td>
              <td width="60%">
                  <h1 class="charname" ><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
              </td>
              <td style="text-align: center">
                XP  dép. /  tot     <br>
                <input type="text" size="4em"  style="width: auto;" name="system.XP.value" value="{{system.XP.value}}" data-dtype="Number"/> / <input type="text"  style="width: auto;" size="4em" name="system.XP.max" value="{{system.XP.max}}" data-dtype="Number"/>                 
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" name="system.besogne" value="{{system.besogne}}" placeholder="Besogne"/>
              </td>
              <td>
                <input type="text" name="system.ethnie" value="{{system.ethnie}}" placeholder="Ethnie"/>
              </td>
            </tr>
          </tbody>
        </table>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="caracteristiques">caracs</a>

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- les caracteristiques --}}
    {{!-- rollable = jet, data-roll = id ou l'info, data-cmd= cmd . --}}
    <div class="tab items" data-group="primary" data-tab="caracteristiques">
      <section class="grid grid-3col">
        <section class="main">
          <h2>{{localize  int.aspects }}</h2>
          {{#each aspects as |aspect key|}}
          <div>
            <span> 
              <a class="attrib-mod rollable" data-roll="{{aspect._id}}" data-cmd="add">{{aspect.name}}</a>
            </span>
            <span>
              {{aspect.system.NbDes}}
              <a class="attrib-mod rollable" data-roll="{{_id}}" data-cmd="edit"><i class="fas fa-edit"></i></a>
              <a class="attrib-mod rollable" data-roll="{{_id}}" data-cmd="suppr"><i class="fas fa-trash"></i></a>
            </span>
          </div>
          {{/each}}
        </section>
        <section>
          <h2>{{localize  int.selection }}</h2>
          {{!-- le jet "jet": { "codecmp":"artisan",  "idAspect1":"",  "idAspect2":"",  "idAspect3":"",  "nblancer":3, "paris":0, "seuil":6, "autoEffort":1, "coutMagique":0 } --}}
        </section>
      </section>
    </div>
   </section> 
</form>