{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="Principal">Principale</a>
    <a class="item" data-tab="niv1">Niv. 1</a>
    <a class="item" data-tab="niv2">Niv. 2</a>
    <a class="item" data-tab="niv3">Niv. 3</a>
    <a class="item" data-tab="niv4">Niv. 4</a>
    <a class="item" data-tab="niv5">Niv. 5</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Tab Principale --}}
    <div class="tab" data-group="primary" data-tab="Principal">
      <div>
        <label class="resource-label">Nom générique (qui sera ajouter sous le nom, donnée brute</label>
        <input type="text" name="data.nomGene" value="{{data.nomGene}}"/>
      </div>
      <div>
        <label class="resource-label">Niveau actuel acquis (inf à Niveau Max)</label>
        <input type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div>
        <label class="resource-label">Niveau max (inf.à 5) ou nombre de secrets</label>
        <input type="text" name="data.niveauMax" value="{{data.niveauMax}}" data-dtype="Number"/>
      </div>
      <label class="resource-label">Description du secret</label>
      <textarea name="data.description" rows="7">{{data.description}}</textarea>
    </div>

    {{!-- Tab niv --}}
    {{!-- je les répètes pour l'instant --}}
    <div class="tab niv1" data-group="primary" data-tab="niv1">
      <label class="resource-label">Nom </label>
      <input type="text" name="data.niv1.nom" value="{{data.niv1.nom}}"/>
      <label class="bibiography">Description du niveau de secret</label>
      <textarea name="data.niv1.description" rows="6">{{data.niv1.description}}</textarea>
      <label class="resource-label">Effet du niveau de secret</label>
      <textarea name="data.niv1.effet" rows="6">{{data.niv1.effet}}</textarea>
    </div>
    <div class="tab niv2" data-group="primary" data-tab="niv2">
      <label class="resource-label">Nom </label>
      <input type="text" name="data.niv2.nom" value="{{data.niv2.nom}}"/>
      <label class="bibiography">Description du niveau de secret</label>
      <textarea name="data.niv2.description" rows="6">{{data.niv2.description}}</textarea>
      <label class="resource-label">Effet du niveau de secret</label>
      <textarea name="data.niv2.effet" rows="6">{{data.niv2.effet}}</textarea>
      
    </div>    
    <div class="tab niv3" data-group="primary" data-tab="niv3">
      <label class="resource-label">Nom </label>
      <input type="text" name="data.niv3.nom" value="{{data.niv3.nom}}"/>
      <label class="bibiography">Description du niveau de secret</label>
      <textarea name="data.niv3.description" rows="6">{{data.niv3.description}}</textarea>
      <label class="resource-label">Effet du niveau de secret</label>
      <textarea name="data.niv3.effet" rows="6">{{data.niv3.effet}}</textarea>
      
    </div>    
    <div class="tab niv4" data-group="primary" data-tab="niv4">
      <label class="resource-label">Nom </label>
      <input type="text" name="data.niv4.nom" value="{{data.niv4.nom}}"/>
      <label class="bibiography">Description du niveau de secret</label>
      <textarea name="data.niv4.description" rows="6">{{data.niv4.description}}</textarea>
      <label class="resource-label">Effet du niveau de secret</label>
      <textarea name="data.niv4.effet" rows="6">{{data.niv4.effet}}</textarea>
      
    </div>    
    <div class="tab niv5" data-group="primary" data-tab="niv5">
      <label class="resource-label">Nom </label>
      <input type="text" name="data.niv5.nom" value="{{data.niv5.nom}}"/>
      <label class="bibiography">Description du niveau de secret</label>
      <textarea name="data.niv5.description" rows="6">{{data.niv5.description}}</textarea>
      <label class="resource-label">Effet du niveau de secret</label>
      <textarea name="data.niv5.effet" rows="6">{{data.niv5.effet}}</textarea>
    </div>
  </section>
</form>
