<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation defaut dans item-sheet.mjs au début --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Caractéristiques</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    {{!-- "sort": {"codeSpe":"","idLien":"","description": "Petit texte de...","niveau": 1,"coutMagie":1,"effet":""}, --}}

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource grid grid-4col">
        <div class="resource flex-group-center">
          <label class="resource-label">Score dés</label>
          <input type="text" name="system.NbDes" value="{{system.NbDes}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">Niveau du Sort</label>
          <input type="text" name="system.niveau" value="{{system.niveau}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">Cout en Magie</label>
          <input type="text" name="system.coutMagie" value="{{system.coutMagie}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">XP</label>
          <input type="text" name="system.Xp" value="{{system.Xp}}" data-dtype="Number"/>
        </div>
      </div>
      <input type="hidden" name="system.codeSpe" value="{{NomCode}}"/>
      <h2>Effets du sort :</h2>
      {{editor system.effet target="system.effet" rollData=rollData button=true owner=owner editable=editable}}
    </div>
    
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- editor content=system.description target="system.description" rollData=rollData button=true owner=owner editable=editable  placeholder="Description" --}}
      <!-- <textarea name="system.description" rows="10">{{system.description}}</textarea> -->
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
